.container {
  position: relative;
}

.topright{
  position: absolute;
  top: 4px;
  right: 16px;
  font-size: 18px;
}

.message-inner{
    background-color: rgb(255, 251, 251);
    border: 1px solid rgb(255, 149, 156);
    padding: 10px 15px;
    border-radius: 4px;
    margin: 0px 100px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}